<!--<div class="row">-->
<!--  <div class="col-sm-6">{{auditLogSet | json}}</div>-->
<!--</div>-->

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Date</th>
        <th scope="col">Action</th>
        <th scope="col">Username</th>
        <th scope="col">Comment</th>
        <th scope="col">Link</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let al of auditLogSet">
        <th scope="row">{{al.id}}</th>
        <td>{{al.date}}</td>
        <td>{{al.action}}</td>
        <td>{{al.username}}</td>
        <td>{{al.comment}}</td>
        <td>{{al.link}}</td>
      </tr>
    </tbody>
  </table>
</div>
