<div class="row">
  <div class="col-sm-2">
    {{currentPage}}
    <button (click)="previous()">previous</button>
    <button (click)="next()">next</button>
  </div>
  <div class="col-sm-8">
    <p-table [value]="auditLogs">
      <ng-template pTemplate="header">
        <tr>
          <th>Id</th>
          <th>Date</th>
          <th>Action</th>
          <th>Username</th>
          <th>Comment</th>
          <th>Link</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-auditLog>
        <tr>
          <td>{{auditLog.id}}</td>
          <td>{{auditLog.date}}</td>
          <td>{{auditLog.action}}</td>
          <td>{{auditLog.username}}</td>
          <td>{{auditLog.comment}}</td>
          <td>{{auditLog.link}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="col-sm-2"></div>
</div>
