{{paginatorModel.totalRecords}} - {{paginatorModel.rowsPerPage}} - {{totalNumberOfPages}} - {{currentPage}}
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item" [class.disabled]="isFirstPage()">
      <a class="page-link" (click)="goToFirst()">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item" [class.disabled]="isFirstPage()">
      <a class="page-link" (click)="goToPrevious()">
        <span aria-hidden="true">&lt;</span>
      </a>
    </li>

    <li *ngFor="let pageLink of pageLinks" class="page-item"><a class="page-link" (click)="goToPage(pageLink)">{{pageLink}}</a></li>

    <li class="page-item" [class.disabled]="isLastPage()">
      <a class="page-link" (click)="goToNext()">
        <span aria-hidden="true">&gt;</span>
      </a>
    </li>
    <li class="page-item" [class.disabled]="isLastPage()">
      <a class="page-link" (click)="goToLast()">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
